[submodule "ios/joinself-self-mobile-ios-ui"]
	path = ios/joinself-self-mobile-ios-ui
	url = git@github.com:joinself/joinself-self-mobile-ios-ui.git
[submodule "golang"]
	path = golang
	url = https://github.com/joinself/self-go-sdk
